body {
    overflow: hidden;
}

ul[class^="Voice_voiceStates_"] {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row-reverse;
    justify-content: center
}


li[class^="Voice_voiceState_"] {
    height: unset;
    float: unset;
    margin: 0 0 0 0.5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

div[class^="Voice_user_"] {
    padding: 0;
    float: unset;
    display: flex;
    border-radius: 0;
    width: 100%;
}

img[class^="Voice_avatar_"] {
    opacity: 0.6;
    transition: opacity 0.2s;
    border-radius: 0;
    border-width: 0;
    float: unset;
    margin: 0;
    width: 80px;
    height: auto;
}

img[class*="Voice_avatarSpeaking_"] {
    outline: 4px solid #43b581;
    outline-offset: -4px;
    opacity: 1;
    transition: opacity 0.2s;
}

span[class^="Voice_name_"] {
    flex: 1;
    text-align: center;
    opacity: 0.7;
    border-radius: 0;
}

img[class*="Voice_avatarSpeaking_"] ~ div[class^="Voice_user_"] span[class^="Voice_name_"] {
    opacity: 1;
    transition: opacity 0.2s;
}
